& when (@media-common = true) {
    .lib-font-face(
        @family-name:"DejaVuSansBook-Regular",
        @font-path: "@{baseDir}fonts/DejaVuSansBooK/regular/DejavuSans",
        @font-style: normal,
        @font-weight: 400
    );

    .lib-font-face(
        @family-name:"HelveticalLight-Regular",
        @font-path: "@{baseDir}fonts/HelveticalLight/regular/HelveticalLight",
        @font-style: normal,
        @font-weight: 400
    );

    .lib-font-face(
        @family-name:"Lora-Regular",
        @font-path: "@{baseDir}fonts/Lora/regular/Lora-Regular",
        @font-style: normal,
        @font-weight: 400
    );

    .lib-font-face(
        @family-name:"Roboto-Bold",
        @font-path: "@{baseDir}fonts/Roboto/bold/Roboto-Bold",
        @font-style: normal,
        @font-weight: 700
    );

    .lib-font-face(
        @family-name:"Roboto-Regular",
        @font-path: "@{baseDir}fonts/Roboto/regular/Roboto-Regular",
        @font-style: normal,
        @font-weight: 400
    );
}
