@header-panel__background-color: @color-black-dark7;

& when (@media-common = true) {
    /* #region header */

    .panel.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: @color-white;
        a {
            color: @color-white;
            display: inline-block;
            &:hover {
                color: @color-white;
            }
        }
        p {
            color: @color-white;
            margin-bottom: 0;
        }
    }
    .header-top-desktop-left {
        white-space: nowrap;
        font-family: @font-roboto;
        font-weight: @font-weight__heavier;
        font-size: 14px;
        a {
            margin: 0 15px 0 0;
        }
    }
    .header-top-desktop-center {
        width: 100%;
        padding: 0 15px;
        text-align: center;
        font-family: @font-roboto;
        font-weight: @font-weight__heavier;
        font-size: 14px;
        ul {
            margin-bottom: 0;
            padding: 0;
        }
        p {
            display: inline-block;
            &::before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: @color-white;
                display: inline-block;
                margin: 0 10px 2px 6px;
            }
            &:first-child::before {
                display: none;
            }
        }
    }
    .header.panel > .header.links {
        white-space: nowrap;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-top-social {
        white-space: nowrap;
        a {
            margin: 0 0 0 8px;
            &:first-child {
                margin: 0 0 0 15px;
            }
        }
    }
    .header-top-blog {
        a {
            margin: 0 0 0 15px;
        }
    }
    .block-search {
        width: 100%;
        min-width: 314px;
    }
    .navigation {
        .level0 > .level-top {
            font-family: @font-roboto;
            font-size: 12px;
            font-weight: @font-weight__heavier;
        }
    }
    .nav-sections {
        background-color: @color-white;
    }
    .page-header {
        border-bottom: none;
    }
    .block-search .action.search {
        height: 40px;
        &::before {
            color: @color-black;
        }
    }
    .minicart-wrapper .action.showcart {
        &:before {
            content: "\f07a";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            color: @color-black;
            font-size: 20px;
        }
        .counter-number {
            color: @color-white;
            text-shadow: none;
            &::before {
                content: "(";
            }
            &::after {
                content: ")";
            }
        }
    }
    #search::placeholder {
        color: @color-gray60;
    }

    /* #endregion */
}
@media screen and (min-width: @screen__m) {
    .header.content {
        padding-left: 0;
        padding-right: 0;
    }
    .panel.header {
        padding: 10px 0;
    }
    .page-header .header.panel {
        padding-left: 0;
        padding-right: 0;
    }
    .block-search {
        width: 354px;
    }
    .navigation {
        background-color: @color-white;
        ul {
            display: flex;
            padding: 0;
        }
        .level0 {
            text-transform: uppercase;
            margin: 0 40px 0 0;
            &:last-child {
                margin: 0;
            }
            & > .level-top {
                display: inline-block;
                padding: 20px 0;
                line-height: 14px;
                color: @color-black;
            }
        }
    }
    .customer-welcome {
        .action.switch {
            &::after,
            &:hover::after,
            &:active::after {
                color: @color-white;
            }
        }
        .customer-menu {
            a {
                display: block;
            }
        }
    }
    .block-search .action.search {
        height: 40px;
        &::before {
            color: @color-black;
        }
        &[disabled] {
            opacity: 1;
        }
    }
    .minicart-wrapper {
        margin-left: 30px;
    }
    .minicart-wrapper .action.showcart {
        display: inline-flex;
        height: 40px;
        align-items: center;
        &:before {
            color: @color-red17;
        }
        .counter-number {
            color: @color-red17;
            text-shadow: none;
            font-family: @font-roboto;
            font-weight: @font-weight__bold;
            &::before {
                content: "Cart (";
            }
            &::after {
                content: ")";
            }
        }
        .counter.qty {
            background-color: transparent;
            padding: 0;
            margin-left: 10px;
        }
    }
}
