& when (@media-common = true) {
    /* #region header */

    .page-header .panel.wrapper {
        background-color: @color-black-dark8;
        border: none;
    }
    .panel.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: @color-white;
        min-height: 36px;
        a {
            color: @color-white;
            display: inline-block;
            &:hover {
                color: @color-white;
            }
        }
        p {
            color: @color-white;
            margin-bottom: 0;
        }
    }
    .header-top-desktop-left {
        white-space: nowrap;
        p {
            display: inline-block;
            white-space: nowrap;
            a {
                margin: 0;
            }
        }
        .contact-text {
            display: none;
        }
    }
    .header-top-desktop-center {
        display: none;
        width: 100%;
        padding: 0 15px;
        text-align: center;
        font-weight: @font-weight__heavier;
        font-size: 14px;
        ul {
            margin-bottom: 0;
            padding: 0;
        }
        p {
            display: inline-block;
            &::before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: @color-white;
                display: inline-block;
                margin: 0 10px 2px 6px;
            }
            &:first-child::before {
                display: none;
            }
            &:hover {
                font-weight: 700;
            }
        }
    }
    .header.panel > .header.links {
        display: none;
        white-space: nowrap;
        margin-right: 0;
        align-items: center;
        justify-content: flex-end;
    }
    .header-top-social {
        display: none;
        white-space: nowrap;
        a {
            margin: 0 0 0 8px;
            &:first-child {
                margin: 0 0 0 15px;
            }
        }
    }
    .header-top-blog {
        display: none;
        a {
            margin: 0 0 0 15px;
        }
    }
    .block-search {
        width: 100%;
        input {
            position: unset;
            margin: 0;
            border: 2px solid @color-gray-light2;
        }
        .label {
            display: none;
        }
        .control {
            border-top: none;
        }
        .action.search {
            height: 40px;
            display: inline-block;
            background-image: none;
            background: none;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            border: 0;
            box-shadow: none;
            line-height: inherit;
            margin: 0;
            padding: 0;
            text-decoration: none;
            text-shadow: none;
            font-weight: 400;
            position: absolute;
            right: 20px;
            top: unset;
            bottom: 0;
            z-index: 1;
            span {
                display: none;
            }
            &::before {
                color: @color-black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 16px;
                line-height: 32px;
                content: "\e615";
                font-family: "luma-icons";
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                text-align: center;
            }
            &[disabled] {
                opacity: 1;
            }
        }
    }
    .navigation {
        .level0 > .level-top {
            font-size: 12px;
            font-weight: @font-weight__heavier;
        }
    }
    .nav-sections {
        background-color: @color-white;
    }
    .page-header {
        border-bottom: none;
    }
    .minicart-wrapper {
        float: none;
        position: absolute;
        right: 15px;
        top: 15px;
        .block-minicart {
            right: 0;
        }
    }
    .minicart-wrapper .action.showcart {
        position: relative;
        margin-right: 10px;
        &:before,
        &.active::before {
            content: "\f07a";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            color: @color-black;
            font-size: 20px;
        }
        &:hover::before {
            color: @color-black;
        }
        &.active {
            display: inline-flex;
            &:hover::before,
            &::before {
                color: @color-black;
            }
        }
        .counter-number {
            color: @color-white;
            text-shadow: none;
        }
        .counter.qty {
            position: absolute;
            left: 10px;
            bottom: 15px;
            background-color: @color-green5;
            height: 18px;
            line-height: 20px;
            border-radius: 9px;
            padding: 0;
            font-size: 11px;
        }
        .counter.qty.empty {
            display: inline-block;
        }
    }
    #search::placeholder {
        color: @color-gray60;
    }
    .header.content {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-toggle {
        left: 10px;
        width: 43px;
        height: 43px;
        border: 1px solid @color-gray98;
        text-align: center;
        &:before {
            color: @color-black;
            content: "\f0c9";
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            font-size: 22px;
            line-height: 16px;
            margin-top: 7px;
            margin-bottom: 3px;
        }
        &::after {
            content: "Menu";
            font-size: 10px;
        }
    }
    .logo {
        margin: 0 auto;
        float: none;
        width: fit-content;
        img {
            margin: 0 auto;
        }
    }
    .header-top-mobile-left {
        white-space: nowrap;
        max-width: 50%;
        .icon {
            display: inline-block;
            cursor: pointer;
        }
    }
    #store-list-mobile {
        border: none;
        height: 30px;
        font-size: 13px;
        color: @color-white;
        background-color: @color-black-dark8;
        padding: 0 9px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: -6px;
        &:focus {
            box-shadow: unset;
        }
        option {
            background-color: @color-white;
            color: @color-black-dark8;
        }
    }

    /* #endregion */

    /* #region footer */

    .page-footer {
        border-top: 1px solid #e9ebee;
    }

    /* #region footer showroom */
    .footer-top-showroom {
        display: flex;
        padding: 30px @layout-indent__width;
        justify-content: center;
        max-width: @layout__max-width;
        margin: 0 auto;
        .showroom-img {
            display: none;
            margin-bottom: 0;
        }
        .showroom-button {
            color: #424242;
            text-align: center;
            button {
                font-size: 15px;
                margin-bottom: 10px;
            }
            p {
                margin: 0 auto;
                width: 210px;
                margin-bottom: 1rem;
            }
            span {
                display: block;
            }
            a {
                color: #424242;
            }
        }
    }
    /* #endregion */

    /* #region footer banner */
    .footer-top-banner {
        position: relative;
        max-width: 1600px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        p {
            margin-bottom: 0;
        }
        .banner-img {
            height: 140px;
        }
        img {
            object-fit: cover;
            height: 140px;
        }
        .banner-content {
            color: #fffefe;
            position: absolute;
            width: 65%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            z-index: 3;
            h1 {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 1rem;
            }
            a {
                color: #fffefe;
            }
            .content {
                display: none;
            }
        }
    }
    /* #endregion */

    /* #region footer info */
    .footer-top-info {
        background: #f1f1f1;
        .topinfo-container {
            max-width: @layout__max-width;
            margin-left: auto;
            margin-right: auto;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            div {
                width: 50%;
                float: left;
                box-sizing: border-box;
                font-weight: 500;
                font-size: 12px;
                color: #2d2d2d;
                line-height: 14px;
                height: 80px;
                text-transform: uppercase;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0 15px;
                &:hover {
                    text-decoration: none;
                }
            }
            i {
                font-size: 25px;
                flex: 0 0 40px;
            }
            span {
                text-align: left;
            }
        }
    }
    /* #endregion */

    /* #region footer content */
    .footer.content {
        display: flex;
        flex-direction: column;
        border: none;
        .block {
            float: unset;
        }
        .social {
            order: 2;
        }
    }
    .footer-content-category,
    .footer-content-shop-info,
    .footer-content-policy {
        order: 1;
        display: none;
    }
    .block.newsletter {
        order: 2;
        margin-bottom: 0;
        .title {
            display: block;
            text-align: center;
            margin-bottom: 20px;
            p {
                margin: 0 auto;
                width: 60%;
            }
            h3 {
                line-height: 25px;
            }
        }
        .action.primary {
            border: none;
            padding: 0;
            height: 38px;
            width: 20px;
            &:hover,
            &:active {
                background: none;
                border: none;
            }
        }
        input {
            padding-left: 15px;
            padding-right: 35px;
            margin-right: 0;
            &::placeholder {
                color: #797979;
            }
        }
        .field .control:before {
            display: none;
        }
        .form.subscribe {
            position: relative;
        }
        .actions {
            position: absolute;
            top: 1px;
            right: 10px;
            width: auto;
        }
        .content {
            margin-bottom: 30px;
        }
    }
    #footer-content-accordion {
        margin-top: 30px;
        order: 3;
        border-bottom: 1px solid #dddddd;
        h3 {
            margin: 0;
        }
        div[data-role="collapsible"],
        div[data-role="content"] {
            border-top: 1px solid #dddddd;
            p {
                margin: 0;
            }
            .widget.block {
                margin: 0;
            }
        }
        div[data-role="content"] {
            line-height: 26px;
            padding: 15px 0;
        }
        div[data-role="collapsible"] {
            position: relative;
            &:after {
                content: "\f067";
                font-family: "Font Awesome 5 Pro";
                font-weight: 300;
                font-size: 22px;
                color: #a9a9a9;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
    }
    .social {
        text-align: center;
        a {
            margin: 0 30px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
        i {
            font-size: 18px;
        }
    }
    /* #endregion */

    /* #region footer bottom */
    .footer-bottom-container {
        max-width: @layout__max-width;
        margin: 0 auto;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        .footer-copyright {
            width: 100%;
            text-align: center;
            order: 2;
        }
        .footer-payment-method {
            width: 100%;
            text-align: center;
            order: 1;
            margin-bottom: 10px;
            p {
                display: inline-block;
                padding: 0 5px;
                &:first-child {
                    display: block;
                }
            }
        }
    }
    /* #endregion */

    /* #endregion */
}

//
//  Responsive
//

@media screen and (min-width: 320px) and (max-width: 425px) {
    /* #region header */
    .nav-toggle {
        top: 10px;
    }
    .minicart-wrapper {
        top: 10px;
    }
    /* #endregion */
}

@media screen and (min-width: @screen__m) {
    /* #region header */
    .page-header .panel.wrapper {
        background-color: @color-black-dark7;
    }
    .nav-sections {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0;
    }
    .header-top-social,
    .header-top-blog {
        display: block;
    }
    .header.panel > .header.links {
        display: flex;
    }
    .header-top-desktop-center {
        display: block;
    }
    .header-top-desktop-left {
        margin-right: 15px;
        .contact-text {
            display: inline-block;
        }
        .icon {
            display: none;
        }
        p {
            font-weight: @font-weight__heavier;
            font-size: 14px;
        }
    }
    .header.content {
        padding: 30px @layout-indent__width 0;
    }
    .block-search {
        width: 354px;
        input {
            border: 1px solid #e4e4e4;
        }
        .action.search {
            right: 10px;
            &::before {
                color: @color-black;
            }
            &[disabled] {
                opacity: 1;
            }
        }
    }
    .navigation {
        background-color: @color-white;
        padding-bottom: 10px;
        ul {
            display: flex;
            padding: 0;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .level0 {
            text-transform: uppercase;
            margin: 0 10px 0 0;
            &:last-child {
                margin: 0;
            }
            &.active > .level-top {
                border: none;
                color: @color-red17;
            }
            &:hover > .level-top {
                color: @color-red17;
            }
            & > .level-top {
                display: inline-block;
                padding: 10px;
                line-height: 14px;
                color: @color-black;
            }
        }
    }
    .customer-welcome {
        .action.switch {
            &::after,
            &:hover::after,
            &:active::after {
                color: @color-white;
            }
        }
        .customer-menu {
            a {
                display: block;
            }
        }
    }
    .minicart-wrapper {
        float: right;
        top: 0;
        margin-left: 30px;
        position: relative;
    }
    .minicart-wrapper .action.showcart {
        margin-right: 0;
        display: inline-flex;
        height: 40px;
        align-items: center;
        &:hover::before {
            color: @color-red17;
        }
        &.active {
            display: inline-flex;
            &:hover::before,
            &::before {
                color: @color-red17;
            }
        }
        &:before {
            color: @color-red17;
        }
        .counter-number {
            color: @color-red17;
            text-shadow: none;
            font-weight: @font-weight__bold;
            &::before {
                content: "Cart (";
            }
            &::after {
                content: ")";
            }
        }
        .counter.qty {
            font-size: 13px;
            position: static;
            background-color: transparent;
            padding: 0;
            margin-left: 10px;
        }
    }
    .header.panel > .header.links {
        & > .authorization-link {
            margin: 0;
        }
        & > li.welcome {
            line-height: inherit;
        }
    }
    .customer-welcome {
        ul {
            background-color: @color-gray-middle1;
            &::before {
                border-color: transparent transparent @color-gray-middle1 transparent;
            }
            li:hover {
                background-color: @color-gray64;
            }
        }
        .customer-menu a {
            color: @color-black_dark;
            &:hover {
                color: @color-white;
            }
        }
    }
    .header.content {
        display: block;
    }
    .logo {
        float: left;
        width: unset;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .header-top-mobile-left {
        display: none;
    }

    /* #endregion */

    /* #region footer */

    .page-footer {
        background: white;
        padding-bottom: 0;
    }
    /* #region showroom */
    .footer-top-showroom {
        box-sizing: border-box;
        justify-content: space-between;
        .showroom-img {
            display: flex;
            width: 38.8888%;
            justify-content: center;
            align-items: center;
        }
    }
    /* #endregion */

    /* #region banner */
    .footer-top-banner {
        .banner-img {
            height: 280px;
        }
        img {
            height: 280px;
        }
        .banner-content {
            .title {
                font-size: 38px;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 2rem;
            }
            .content {
                display: block;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                margin: 0 auto;
                width: 60%;
                a {
                    display: inline;
                }
            }
            a {
                display: none;
            }
        }
    }
    /* #endregion */

    /* #region footer info */
    .footer-top-info {
        .topinfo-container {
            box-sizing: border-box;
            div {
                width: 25%;
            }
        }
    }
    /* #endregion */

    /* #region footer content */
    #footer-content-accordion {
        display: none;
    }
    .footer-content-category,
    .footer-content-shop-info,
    .footer-content-policy {
        display: block;
    }
    .footer.content {
        text-align: left;
        flex-direction: row;
        h3 {
            line-height: 25px;
        }
        .block {
            float: unset;
        }
        .widget.block,
        p {
            margin: 0;
        }
        .footer-content-category,
        .footer-content-shop-info {
            width: 27.7777%;
            padding-right: 15px;
            box-sizing: border-box;
        }
        .footer-content-policy,
        .block.newsletter {
            width: 22.2222%;
            padding-right: 15px;
            box-sizing: border-box;
        }
        .block.newsletter {
            padding-right: 0;
        }
        .title {
            text-align: left;
            p {
                margin: 0;
                width: 90%;
            }
        }
        .social {
            text-align: left;
            a {
                margin: 0 15px 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    /* #endregion */

    /* #region footer bottom */
    .footer-bottom-container {
        height: 95px;
        box-sizing: border-box;
        .footer-copyright {
            border-top: 1px solid #ddd;
            order: 1;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            p {
                margin: 0;
            }
        }
        .footer-payment-method {
            border-top: 1px solid #ddd;
            order: 2;
            width: 50%;
            margin: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            p {
                margin: 0;
                &:first-child {
                    display: inline-block;
                }
            }
        }
    }
    /* #endregion */

    /* #endregion */
}

@media screen and (min-width: @screen__xl) {
    /* #region header */

    .navigation {
        ul {
            flex-wrap: nowrap;
        }
    }

    /* #endregion */
}
